@font-face {
  src: url(../fonts/intro-demo-black-caps.woff2);
  font-family: "Intro";
  font-weight: 400;
}

@font-face {
  src: url(../fonts/roboto-slab-light.woff2);
  font-family: "Roboto Slab";
  font-weight: 300;
}

html {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
}

/* ======================FIRST PAGE============================== */
.page {
  max-width: 1440px;
  min-width: 320px;
  margin: auto;
  padding: 8% 0 5%;

  font-family: "Roboto Slab";
  font-size: 2rem;
  font-weight: 300;
  line-height: 160%;
  color: #000;
}

.header {
  display: flex;
  justify-content: space-between;
  max-width: 1290px;
  margin: auto;
  padding: 0 10px;
}

.header__logo {
  width: 200px;
  height: 40px;
}

.button {
  width: 115px;
  height: 38px;

  font-family: "Intro";
  font-size: 1.3rem;
  line-height: normal;
  color: #fff;

  border: none;
  border-radius: 100px;
  background-color: #5222d0;

  cursor: pointer;
}

.main {
  padding-left: 8.5%;
}

.section-introduse {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.section-introduse__container {
  display: grid;
  grid-template-rows: repeat(3, min-content) 150px min-content;
  max-width: 540px;
  padding-top: 5%;
}

.title {
  margin: 0;

  font-family: "Intro";
  font-size: 6rem;
  line-height: 120%;
  color: #000;
}

.button_big {
  width: 270px;
  height: 84px;

  font-size: 3.5rem;
}

nav {
  grid-row: 5;
}

.list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 15px 0;

  list-style: none;
}

.list__link {
  color: #5222d0;

  text-decoration: none;
}

.section-introduse__wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}

.section-introduse__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ======================END FIRST PAGE============================== */

/* =======================MEDIA QUARIES============================== */

@media screen and (max-width: 1149px) {
  .main {
    padding-left: 0;
  }

  .section-introduse {
    flex-direction: column-reverse;
    align-items: center;
  }

  .section-introduse__container {
    text-align: center;
  }

  .button_big {
    justify-self: center;
  }

  .section-introduse__img {
    max-width: 65%;
    margin: auto;
  }
}

@media screen and (max-width: 470px) {
  .html {
    font-size: 50%;
  }

  .header {
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
  }

  .title {
    font-size: 4rem;
  }

  .button_big {
    width: 170px;
    height: 65px;

    font-size: 2rem;
  }

  .button_big img {
    width: 25px;
  }

  .list {
    flex-direction: column;
  }
}
